---
import "../styles/lcars.styl";
import LCARSAudio from "../components/LCARSAudio.astro";
import { Font } from "astro:assets";
import LCARSFrame from "../components/LCARSFrame.astro";
import LCARSColorFix from "../components/LCARSColorFix.astro";

interface Props {
    siteTitle?: string;
    title?: string;
    pageKey: string;
    ogKey?: string;
}

const canonicalUrl = new URL(Astro.site || "http://localhost:4321");

const { siteTitle = "Astro LCARS", title, pageKey, ogKey } = Astro.props;

const ogImageUrl = new URL(`/open-graph/${ogKey || "index"}.png`, canonicalUrl)
    .href;

const pageTitle = title ? `${title} | ${siteTitle}` : siteTitle;
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <meta property="og:title" content={pageTitle} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={canonicalUrl.href} />
        <meta property="og:image" content={ogImageUrl} />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:title" content={pageTitle} />
        <meta name="twitter:image" content={ogImageUrl} />
        <link rel="canonical" href={canonicalUrl.href} />
        <Font cssVariable="--font-lcarsgtj3" preload />
    </head>
    <body>
        <LCARSFrame siteTitle={siteTitle} pageKey={pageKey}>
            <slot />
        </LCARSFrame>
        <LCARSAudio />
        <LCARSColorFix />
    </body>
</html>
